{
	"env": {
		"node": true,
		"es6": true
	},
	"plugins": [
		"aero"
	],
	"rules": {
		"semi": ["warn", "never"],
		"quotes": ["error", "single"],

		//"space-in-parens": ["error", "always", { "exceptions": ["{}", "[]", "empty"] }],
		/*"object-curly-spacing": ["error", "always", {
			"arraysInObjects": true,
			"objectsInObjects": false
		}],*/

		"func-call-spacing": ["warn", "never"], // fn() : no space between fn and () 
		"space-before-function-paren": ["warn", "always"], // function name () : space between name and () 
		"keyword-spacing": ["warn", { "before": true, "after" : true }],
		"space-before-blocks": ["warn", "always"],

		"aero/aero": ["warn", "always", { "loose" : ["()"], "inside" : ["{}"]}],
		"indent": ["warn", "tab"],

		"no-unreachable": ["error"],
		"no-magic-numbers": ["warn"],
		"no-unused-labels": ["error"],
		"no-unused-vars": ["warn"]
	}
}