{
	"env": {
		"node": true,
		"es6": true
	},
	"plugins": [
		"aero"
	],
	"rules": {
		"semi": ["warn", "never"],
		"quotes": ["error", "single"],

		//"space-in-parens": ["error", "always", { "exceptions": ["{}", "[]", "empty"] }],
		/*"object-curly-spacing": ["error", "always", {
			"arraysInObjects": true,
			"objectsInObjects": false
		}],*/

		"func-call-spacing": ["error", "never"], // fn() : no space between fn and () 
		"space-before-function-paren": ["error", "always"], // function name () : space between name and () 
		"keyword-spacing": ["error", { "before": true, "after" : true }],
		"space-before-blocks": ["error", "always"],

		"aero/aero": ["error", "always", { "loose" : ["()"], "inside" : ["{}"]}],

		"indent": ["error", "tab"]
	}
}